.icons {
  margin-right: 5px;
  margin-left: 4px;
  margin-top: 3px;
}

.Header {
  position: absolute;
  width: 100%;
  left: 15%;
}
.topHeader {
  float: left;
  position: absolute;
  left:0;
  top:0;
  right:0;
  width: 100%;
  height:100px;
  flex-flow: row nowrap;
  background-color: darkblue;
  border-collapse: collapse;
  text-align: center;
  color: #F0F0F0;

}

.basement {
  width: 100%;
  height: 40px;
  position: absolute;
  left:0;
  right:0;
  bottom:0;
  float: right;
  text-align: center;
  background-color: white;
  border-collapse: collapse;
  color:darkblue;
}

.flex-container {
  position: absolute;
  left:0;
  top:100px;
  right:0;
  bottom:40px;
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
}

.first {
  background: lightgray;
  width: 30%;
}

.second {
  background: #F0F0F0;
  flex-grow: 7;
  width: 70%;
}

.buttonAdd1 {
  bottom: 3%;
  position: absolute;
  width: 20%;
  height: 10%;
  margin-left: 4%;
 }

.todo-app {
  margin: 0 auto;
  max-width: 1200px;
}